In [2]:
import pandas as pd
import os
csvpath=os.path.join("..", "purchase_data.csv")

In [13]:

dataframe=pd.read_csv(csvpath)
dataframe.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [275]:
#Total Players 
unique_pcat=dataframe["SN"].unique()
len(unique_pcat)

576

In [283]:
#Summary dataframe for total players
totalplayers_summary = pd.DataFrame({"Total Players":[len(unique_pcat)]})
totalplayers_summary.head()

   Total Players
0            576

In [15]:
print(dataframe["SN"].value_counts())

Lisosia93       5
Idastidru52     4
Iral74          4
Saedaiphos46    3
Pheodaisun84    3
               ..
Mindimnya67     1
Hallysucal81    1
Jiskjask85      1
Aenarap34       1
Mindista32      1
Name: SN, Length: 576, dtype: int64

In [16]:
 #Return the Average of purchase price, number of unique items, Total number of purchases, Total Revenue


dataframe["Price"].mean()

3.050987179487176

In [17]:
dataframe["Purchase ID"].count()

780

In [18]:
dataframe["Price"].sum()

2379.77

In [250]:
unique_pcat=dataframe["Item ID"].unique()
len(unique_pcat)

179

In [267]:
#summary dataframe Purchasing TOTALS 
totalpurchasing_summary = pd.DataFrame({"Number of Unique Items":[len(unique_pcat)] ,
                                    "Average Price": dataframe["Price"].mean(), "Number of Purchase": dataframe["Purchase ID"].count(),
                                        "Total Revenue": dataframe["Price"].sum(),
                                      })
totalpurchasing_summary.head()
#unique_pcat=

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     179       3.050987                 780        2379.77

In [20]:
#Percentage and Count of Male Players, Percentage and count of female players, percentage and count of other/non-disclosed
unique_pcat=dataframe["Gender"].unique()
len(unique_pcat)

3

In [21]:
#Purchasing Analysis (Gender) Purchase Count, Average Purchase Price, 
#Total Purchase Value, Average Purchase Total per person by Age Group
print(dataframe["Gender"].value_counts())

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [22]:
#Continuation of above, extract 
dataframe_type_df = dataframe[["Gender", "SN", "Price"]]
dataframe_type_df.head(10)

                  Gender             SN  Price
0                   Male        Lisim78   3.53
1                   Male    Lisovynya38   1.56
2                   Male     Ithergue48   4.88
3                   Male  Chamassasya86   3.27
4                   Male      Iskosia90   1.44
5                   Male        Yalae81   3.61
6                   Male      Itheria73   2.18
7                   Male    Iskjaskst81   2.67
8                   Male      Undjask33   1.10
9  Other / Non-Disclosed    Chanosian48   3.58

In [287]:
# Average Purchase Price
Gender_group = dataframe_type_df.groupby(["Gender"])

Gender_comparison_df = Gender_group.mean()
Gender_comparison_df

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [24]:
#Total Purchase Value
Gender_group = dataframe_type_df.groupby(["Gender"])

Gender_comparison_df = Gender_group.sum()
Gender_comparison_df

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [180]:
#Purchasing Analysis by Gender (Avg Total Purchase Per Person) HELP
#gener_unique_cnt=dataframe_type_df.drop_duplicates(subset='SN')["Gender"].value_ounts
#avg_per_person=(total_value/gener_unique_cnt)
#avg_per_person.head()
#f_avg_per_person=avg_per_person.map('${:,.2f}'.format)
#f_avg_per_person.head()

AttributeError: 'Series' object has no attribute 'value_ounts'

In [311]:
#Summary dataframe Purchasing Analysis (Gender) 

totalpurchasing_summary = pd.DataFrame({"Purchase Count":(dataframe["Gender"].value_counts()), 
                                    "Average Purchase Price":Gender_comparison_df})
                                        #"Total Purchase Value":) 
#Gender_comparison_df =
#Gender_comparison_df=
# ,"Average Total Purchase Per Person":
totalpurchasing_summary.head()

ValueError: Shape of passed values is (1, 2), indices imply (3, 2)

In [62]:
unique_players_df = dataframe[["Gender", "SN", "Age"]]
unique_players_df = unique_players_df.drop_duplicates()
unique_players_df.count()

Gender    576
SN        576
Age       576
dtype: int64

Gender    780
SN        780
Age       780
dtype: int64

In [176]:
unique_players_df["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [64]:
unique_players_df["Gender"].value_counts()/576

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [256]:
#Summary dataframe for Gender Demographics 
Gender_summary = pd.DataFrame({"Total Count": unique_players_df["Gender"].value_counts(),
                                    "Percentage of Players":unique_players_df["Gender"].value_counts()/576})
Gender_summary.head()

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [80]:
# Age Demographics dataframe
Age_breakdown_df = dataframe[["SN", "Age",]]
Age_breakdown_df.head (10)

              SN  Age
0        Lisim78   20
1    Lisovynya38   40
2     Ithergue48   24
3  Chamassasya86   24
4      Iskosia90   23
5        Yalae81   22
6      Itheria73   36
7    Iskjaskst81   20
8      Undjask33   22
9    Chanosian48   35

In [86]:
Age_demo = dataframe.loc[:,["Gender","SN","Age"]]
Age_demo = Age_demo.drop_duplicates()
Age_demo.head(10)

                  Gender             SN  Age
0                   Male        Lisim78   20
1                   Male    Lisovynya38   40
2                   Male     Ithergue48   24
3                   Male  Chamassasya86   24
4                   Male      Iskosia90   23
5                   Male        Yalae81   22
6                   Male      Itheria73   36
7                   Male    Iskjaskst81   20
8                   Male      Undjask33   22
9  Other / Non-Disclosed    Chanosian48   35

In [81]:
dataframe_type_df.head()

  Gender             SN  Price
0   Male        Lisim78   3.53
1   Male    Lisovynya38   1.56
2   Male     Ithergue48   4.88
3   Male  Chamassasya86   3.27
4   Male      Iskosia90   1.44

In [87]:
#Age Demographics -creating bins and labels
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
hp_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
Age_demo["Age_ranges"] = pd.cut(Age_demo["Age"], age_bins, labels=hp_labels)

In [88]:
# Calculate the Numbers by Age Group
Age_group_totals = Age_demo["Age_ranges"].value_counts()

print(Age_group_totals)

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age_ranges, dtype: int64

In [90]:
Age_group_totals=Age_demo["Age_ranges"].value_counts()/576
print (Age_group_totals)

20-24    0.447917
15-19    0.185764
25-29    0.133681
30-34    0.090278
35-39    0.053819
10-14    0.038194
<10      0.029514
40+      0.020833
Name: Age_ranges, dtype: float64

In [265]:
#summary Dataframe for Age Demographics
AgeDemographics_summary = pd.DataFrame({"Total Count":Age_demo["Age_ranges"].value_counts(), 
                                        "Percentage of Players": Age_demo["Age_ranges"].value_counts()/576 
                        })
AgeDemographics_summary.head()
#Age_group_totals = 
#Age_group_totals=

       Total Count  Percentage of Players
20-24          258               0.447917
15-19          107               0.185764
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819

In [98]:
#Purchasing Analysis (Age)
#data frame created 
Purchasing_data = dataframe.loc[:,["SN","Price", "Age"]]

Purchasing_data.head(10)

              SN  Price  Age
0        Lisim78   3.53   20
1    Lisovynya38   1.56   40
2     Ithergue48   4.88   24
3  Chamassasya86   3.27   24
4      Iskosia90   1.44   23
5        Yalae81   3.61   22
6      Itheria73   2.18   36
7    Iskjaskst81   2.67   20
8      Undjask33   1.10   22
9    Chanosian48   3.58   35

In [99]:
#create bins
#Age Demographics -creating bins and labels
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
hp_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
Purchasing_data["Age_ranges"] = pd.cut(Purchasing_data["Age"], age_bins, labels=hp_labels)

In [103]:
#Purchase count
Purchasing_group_totals = Purchasing_data["Age_ranges"].value_counts()

print(Purchasing_group_totals)

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age_ranges, dtype: int64

In [134]:
#Average Purchase Price
Purchasing_group_totals = Purchasing_data.groupby(["Age_ranges"])
Purchasing_comparison_df=Purchasing_group_totals.mean()

Purchasing_comparison_df

               Price        Age
Age_ranges
<10         3.353478   7.869565
10-14       2.956429  11.392857
15-19       3.035956  16.794118
20-24       3.052219  21.838356
25-29       2.900990  26.000000
30-34       2.931507  31.383562
35-39       3.601707  36.707317
40+         2.941538  41.538462

In [132]:
#Total Purchase Value
Purchasing_group_totals = Purchasing_data.groupby(["Age_ranges"])
Purchasing_comparison_df=Purchasing_group_totals.sum()
Purchasing_comparison_df

              Price   Age
Age_ranges
<10           77.13   181
10-14         82.78   319
15-19        412.89  2284
20-24       1114.06  7971
25-29        293.00  2626
30-34        214.00  2291
35-39        147.67  1505
40+           38.24   540

In [ ]:
#Avg Total Purchase per personHELP

In [154]:

#Summary dataframe for Purchase Analysis by Age HELPpppp
Gender_summary = pd.DataFrame({"Purchase Count": , "Average Purchase Price": "Total Purchase Value": 
                               "Avg Total Purchase per person"
                                    ":})
Totalpurchasing_summary.head()

780

In [222]:
#Top Spenders 

dataframe.groupby(["SN"]).sum()

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [243]:
#Top Spenders Purchase Count
dataframe.set_index(["SN", "Item ID"]).count(level= "SN").sort_values(by="Purchase ID",ascending=False)

              Purchase ID  Age  Gender  Item Name  Price
SN
Lisosia93               5    5       5          5      5
Iral74                  4    4       4          4      4
Idastidru52             4    4       4          4      4
Asur53                  3    3       3          3      3
Inguron55               3    3       3          3      3
...                   ...  ...     ...        ...    ...
Hala31                  1    1       1          1      1
Haisurra41              1    1       1          1      1
Hailaphos89             1    1       1          1      1
Haestyphos66            1    1       1          1      1
Iskosian40              1    1       1          1      1

[576 rows x 5 columns]

In [ ]:
#top5purchase_df = dataframe.groupby(by="Age")
#.sum()["Price"].rename("Total Purchase Value")
#print(top5purchase_df)
#top5_df.value.counts()
#top5_df.head()

#top5purchase_df

In [158]:
#Top spenders Total Purchase value
top5_df = top5purchase_df.sort_values(ascending=False)
top5_df.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Total Purchase Value, dtype: float64

In [167]:
#top spenders purchase count HELPPPPPPPPPP

AttributeError: 'Series' object has no attribute 'value'

In [ ]:
#top spenders Avg purchase price

In [185]:
#Most popular Items
Most_popular_df = dataframe[ ["Item ID","Item Name","Price"]]

Most_popular_df.head(10)

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44
5       81                                  Dreamkiss   3.61
6      169     Interrogator, Blood Blade of the Queen   2.18
7      162                              Abyssal Shard   2.67
8       21                                  Souleater   1.10
9      136               Ghastly Adamantite Protector   3.58

In [187]:
grouped_IDNAME_df = Most_popular_df.groupby(['Item ID', 'Item Name'])
grouped_IDNAME_df.head(10)

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
773       19              Pursuit, Cudgel of Necromancy   1.02
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[775 rows x 3 columns]

In [200]:
#Most Popular- Purchase Count
Sort_purchasecount_df = Most_popular_df.sort_values("Item Name", ascending=False)

print(Sort_purchasecount_df["Item Name"].value_counts())

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Fiery Glass Crusader                             9
Persuasion                                       9
                                                ..
Undead Crusader                                  1
Betrayer                                         1
Celeste                                          1
Exiled Mithril Longsword                         1
Gladiator's Glaive                               1
Name: Item Name, Length: 179, dtype: int64

In [199]:
#Most Popular- Total Purchase Value

grouped_IDNAME_df = Most_popular_df.groupby(["Item Name"]).sum()["Price"]

print(grouped_IDNAME_df)

Item Name
Abyssal Shard                      13.35
Aetherius, Boon of the Blessed     16.95
Agatha                             18.48
Alpha                               6.21
Alpha, Oath of Zeal                12.15
                                   ...
Wolf                               28.32
Wolf, Promise of the Moonwalker    26.88
Worldbreaker                       10.40
Yearning Crusher                   12.54
Yearning Mageblade                 19.10
Name: Price, Length: 179, dtype: float64

In [202]:
#sorting purchase count in descending order HELPPPP
Sort_purchasevalue_df=grouped_IDNAME_df.sort_vaules("Price", ascending=False)
print(Sort_purchasevalue_df)

AttributeError: 'Series' object has no attribute 'sort_vaules'